* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.grid-col {
  display: grid;
  grid-template-columns:1fr 3fr;
}

header {
  height: 50px;
  background: #E04E39;
  color: white;
  display: flex;
  justify-content: space-between;
}

header h1 {
  line-height: 50px;
  margin: 0 10px;
}

header a {
  color: white;
  line-height: 50px;
  margin-right: 1em;
}

aside {
  background: #eee;
  height: calc(100vh - 50px);
  overflow-y: auto;
}

nav {
  padding: 1em;
}

li {
  list-style: none;
  margin: 0.25em;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  margin: 0 auto;
}

main {
  padding: 1em;
  height: 90vh;
  overflow: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.uml-header {
  display: flex;
  justify-content:space-between;
  margin-bottom:1em;
}

summary {
  cursor: pointer;
}

.logo-wrapper {
  width: 100%;
  text-align: center;
}

.logo {
  text-align:center;
  margin-bottom: 0 auto 1em;
}
