{{page-title "Home"}}
<h1>Visualize your Ember components & models in PlantUML<sup>TM</sup></h1>
<br/>
<div class="logo-wrapper">
<img class="logo" src="/assets/Plantuml_Logo.svg" alt="Plantuml_Logo" height="200"/>
</div>
<p><a rel="noopener noreferrer" href="https://plantuml.com" target="_blank">PlantUML</a> is an open-source tool allowing users to create diagrams from a plain text language. Besides various <abbr title="Unified Modeling Language">UML</abbr> diagrams, PlantUML has support for various other Software development related formats (such as Archimate, Block diagram, BPMN, C4, Computer network diagram, ERD, Gantt chart, Mind map, and WBD), as well as visualisation of JSON and YAML files.</p>
<br/>
<h2>How do I start?</h2>
<p>Click on the list of elements in the sidebar to view their UML representation</p>
<br/>
<p> Source code is available in <a href="https://github.com/rajasegar/ember-plantuml">Github</a></p>
<br/>
<p> Please report any issues  <a href="https://github.com/rajasegar/ember-plantuml/issues">here</a></p>
